body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
}

.heading h1{
    margin-left: 30%;
    font-family: 'Times New Roman', Times, serif;
}


.calc {
    /* border: 2px solid black; */
    width: 30%;
    margin: 40px auto;
    padding: 15px;
    background:  #000000;
    box-shadow: 1px 1px 4px rgb(234, 234, 234);
    border-radius: 6px;

}

.input {
    /* border: 1px solid red; */
    width: 89%;
    margin: 10px;
}

.display {
    width: 100%;
    padding-inline: 15px;
    padding-block: 20px;
    background: #323232c1;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px gray;
}



.btn {
    width: 85px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(158, 158, 157, 0.619);
    text-shadow: 0 0px 2px white;
    font-size: 15px;
}

.back {
    width: 174px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
    outline: none;
    border: none;
    text-shadow: 0 0px 1px white;
    box-shadow: 0px 0px 4px rgba(158, 158, 157, 0.619);
    font-size: 15px;
}


.allbtn {
    margin-left: 10px;
}